In [1]:
import pandas as pd

In [35]:
df = pd.read_csv('customer_transactions.csv')

In [38]:
df

,Transfer_Key,Account_Key,Transaction_Amount(in $),Transaction Type,Transaction_Origin/Destination,Transaction_Date
0,K1,CASP_D04050165300009,50,INN,AF,01-01-2019
1,K2,CASP_D04050165300009,100,OUT,SR,02-01-2019
2,K3,CASP_D00630169780002,23,OUT,MM,03-01-2019
3,K4,CASP_D00630169780002,24,OUT,AF,04-01-2019
4,K5,CASP_D00630169780003,70,INN,PK,05-01-2019
...,...,...,...,...,...,...
132,L33,CASP_D00630169780012,100,1NN,TR,20-03-2020
133,L34,CASP_D00630169780012,20,1NN,SR,20-03-2020
134,L35,CASP_D00630169780012,40,OUT,TR,20-03-2020
135,L36,CASP_D00630169780013,30,INN,AF,20-03-2020
136,L37,CASP_D00630169780013,30,INN,AF,20-03-2020

In [39]:
df.columns = ['Key', 'Acckey', 'Amount', 'Type', 'Country', 'Date']

In [40]:
df

     Key                Acckey  Amount Type Country        Date
0     K1  CASP_D04050165300009      50  INN      AF  01-01-2019
1     K2  CASP_D04050165300009     100  OUT      SR  02-01-2019
2     K3  CASP_D00630169780002      23  OUT      MM  03-01-2019
3     K4  CASP_D00630169780002      24  OUT      AF  04-01-2019
4     K5  CASP_D00630169780003      70  INN      PK  05-01-2019
..   ...                   ...     ...  ...     ...         ...
132  L33  CASP_D00630169780012     100  1NN      TR  20-03-2020
133  L34  CASP_D00630169780012      20  1NN      SR  20-03-2020
134  L35  CASP_D00630169780012      40  OUT      TR  20-03-2020
135  L36  CASP_D00630169780013      30  INN      AF  20-03-2020
136  L37  CASP_D00630169780013      30  INN      AF  20-03-2020

[137 rows x 6 columns]

In [42]:
persons = df.groupby('Acckey')

In [76]:
h2_sum_of_incomming_greater_than = 1000
h3_sum_of_outing_greater_than = 800
h4_number_of_transactions_in_a_day = 20  

m2_sum_of_incomming_greater_than = 600
m2_sum_of_incomming_less_than = 1000
m3_sum_of_outing_greater_than = 500
m3_sum_of_outing_greater_than = 800
m4_number_of_transactions_lessthan_in_a_day = 20  
m4_number_of_transactions_greaterthan_in_a_day = 10  


l1_sum_of_incomming_less_than = 1000
l1_sum_of_outing_less_than = 500
l1_number_of_transactions_lessthan_in_a_day = 10

In [77]:
df = pd.read_csv('../Customer-Rating-System-Datasets/customer_transactions.csv')
names = pd.read_csv('../Customer-Rating-System-Datasets/customer_account_info.csv')
df.columns = ['Key', 'Acckey', 'Amount', 'Type', 'Country', 'Date']
persons = df.groupby('Acckey')

high = set()
medium = set()
low = set()

for group_name, df_group in persons:
    t_group = df_group.groupby('Type')

    for type_grp, grp in t_group:
        #In cond
        total = grp['Amount'].sum()
        if type_grp=='INN' and total>h2_sum_of_incomming_greater_than:
            high.add(group_name)
        elif type_grp=='INN' and total>m2_sum_of_incomming_greater_than:
            medium.add(group_name)
        else:
            low.add(group_name)

        #Out condn
        if type_grp=='OUT' and total>h3_sum_of_outing_greater_than:
            high.add(group_name)
        elif type_grp=='OUT' and total>m3_sum_of_outing_greater_than:
            medium.add(group_name)
        else:
            low.add(group_name)

In [78]:
high

{'CASP_D00630169780009', 'CASP_D00630169780019', 'CASP_D00630169780020'}

In [79]:
medium

set()

In [80]:
low

{'CASP_D00630169780001',
 'CASP_D00630169780002',
 'CASP_D00630169780003',
 'CASP_D00630169780004',
 'CASP_D00630169780005',
 'CASP_D00630169780006',
 'CASP_D00630169780007',
 'CASP_D00630169780008',
 'CASP_D00630169780009',
 'CASP_D00630169780010',
 'CASP_D00630169780011',
 'CASP_D00630169780012',
 'CASP_D00630169780013',
 'CASP_D00630169780014',
 'CASP_D00630169780015',
 'CASP_D00630169780016',
 'CASP_D00630169780017',
 'CASP_D00630169780018',
 'CASP_D00630169780019',
 'CASP_D00630169780020',
 'CASP_D00630169780021',
 'CASP_D00630169780022',
 'CASP_D04050165300009'}

In [81]:
high = pd.DataFrame(high)

In [82]:
high

                      0
0  CASP_D00630169780020
1  CASP_D00630169780019
2  CASP_D00630169780009

In [83]:
high.columns = ['Acckey']

In [84]:
high

                 Acckey
0  CASP_D00630169780020
1  CASP_D00630169780019
2  CASP_D00630169780009

In [86]:
names.columns = ['Acckey', 'Key', 'date']

In [87]:
names

                   Acckey             Key        date
0    CASP_D04050165300009  C1245363788_00  28-02-2015
1    CASP_D00630169780001  C014581971C_00  28-02-2015
2    CASP_D00630169780002  C014831981K_00  31-03-2015
3    CASP_D00630169780003  C015471980N_00  28-02-2015
4    CASP_D00630169780004  C016051974E_00  28-02-2015
..                    ...             ...         ...
463  CASP_D00406002222555  C014063332C_00  12-12-2018
464  CASP_D00406002222666  C014062220C_00  13-12-2018
465  CASP_D00406002222777  C014062222C_00  14-12-2018
466  CASP_D00406002222888  C014063333C_00  15-12-2018
467  CASP_D00406002222999  C014064444C_00  16-12-2018

[468 rows x 3 columns]

In [88]:
high_keys = pd.merge(high, names, on='Acckey', how='inner')

In [90]:
high_keys['Key']

0    C033521978Z_00
1    C031911982N_00
2    C022571975M_00
Name: Key, dtype: object